# Ignore pycache
__pycache__/

# Uncomment this after cloning
# app/development

# Local .terraform directories
**/.terraform/*

# AWS credentials file (if any)
.aws
*/.aws

# .tfstate and lock files
*.tfstate
*.tfstate.*
*.terraform.lock.hcl

# Exclude all .tfvars files
*.tfvars
*.tfvars.json

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc